<div [ngClass]="defaultClasses.fieldMainWrapperClasses" [formGroup]="group" [ngStyle]="style.fieldMainWrapperStyle">
    <div [ngClass]="defaultClasses.fieldWrapperClasses">
        <span class="text-length-info-container" *ngIf="hasTextLenghtLimit">
            <span class="badge text-length-info min-length-info" *ngIf="len>0" [ngClass]="_Class">
                {{ len }}/{{ maxLength }}
            </span>
        </span>
        <div [ngClass]="defaultClasses.fieldLabelContainerClasses" [ngStyle]="style.fieldLabelContainerStyle">
            <div class="label">
                <label for="{{ id }}" [ngClass]="defaultClasses.labelClasses">{{ label }}</label>
            </div>
            <div [ngClass]="defaultClasses.fieldDescWrapperClasses" [ngStyle]="defaultClasses.fieldDescWrapperStyle" *ngIf="description">
                <span [ngClass]="defaultClasses.fieldDescContainerClasses">
                    <i class="material-icons " placement="right" [ngbTooltip]="description"> help</i>
                </span>
            </div>
        </div>
        <span class="text-length-info-container" *ngIf="hasTextLenghtLimitation">
            <span class="badge badge-info text-length-info min-length-info" *ngIf="minLength">
                Min:&nbsp;{{minLength}}
            </span>
            <span class="badge badge-info text-length-info max-length-info" *ngIf="maxLength">
                Max:&nbsp;{{maxLength}}
            </span>
        </span>
        <div [ngClass]="defaultClasses.fieldContainerClasses" [ngStyle]="style.fieldContainerStyle">
            <ckeditor [formControlName]="flexiLabel" (change)="_onChange($event)">
            </ckeditor>
        </div>
    </div>
    <div *ngIf="hasError" [ngClass]="defaultClasses.fieldErrorWrapperClasses" [ngStyle]="style.fieldErrorWrapperStyle">
        <span *ngFor="let err of errors">
            <small class="text-danger error-message error-{{err.name}}" *ngIf="control.errors[err.name]">
                {{err.message}}
                <br>
            </small>
        </span>
    </div>
</div>