<div class="feField feButton" [ngClass]="defaultClasses.fieldMainWrapperClasses"  [ngStyle]="style.fieldMainWrapperStyle">
    <div [ngClass]="defaultClasses.btnDefaultClasses">
        <div [ngClass]="defaultClasses.btnDefaultContainerClasses">
            <button [disabled]="disabled" [attr.flexilabel]="flexiLabel" [attr.placement]="tooltipPlacement" [ngbTooltip]="tooltip" [ngClass]="defaultClasses.fieldClasses" [attr.id]="id" [ngStyle]="style.fieldStyle" >
            <i *ngIf="!!btnLeftIcon" [ngClass]="btnLeftIcon" ></i> &nbsp;&nbsp;{{ label }} &nbsp;&nbsp;<i *ngIf="!!btnRightIcon" [ngClass]="btnRightIcon" ></i>
            </button>
        </div>
    </div>
</div>

