
<div [ngClass]="defaultClasses.fieldMainWrapperClasses"  [ngStyle]="style.fieldMainWrapperStyle">
    <div class="field-tool-wrapper">
        <span *ngIf='showEdit' class=" field-tool-container">
            <ul class=" field-tool">
              <li (click)='openModal()'>
                <i class="material-icons icon-size">settings</i>
              </li>
              <li>
                <i class="material-icons icon-size">open_with</i>
              </li>
              <li (click)="close($event)">
                <i class="material-icons icon-size">clear</i>
              </li>
            </ul>
          </span>
    </div>
    <div [ngClass]="defaultClasses.fieldWrapperClasses">

        <div [ngClass]="defaultClasses.fieldLabelContainerClasses" [ngStyle]="style.fieldLabelContainerStyle">
            <div class="label">
                <label   for="{{ id }}" class="form-check-label" [ngClass]="defaultClasses.labelClasses"  >{{ label }}</label>
            </div>
            <div [ngClass]="defaultClasses.fieldDescWrapperClasses" [ngStyle]="defaultClasses.fieldDescWrapperStyle" *ngIf="description">
                <span [ngClass]="defaultClasses.fieldDescContainerClasses">
                    <i class="material-icons " placement="right" [ngbTooltip]="description"> help</i>
                </span>
            </div>
        </div>
        <div class="form-check" [ngClass]="defaultClasses.fieldContainerClasses" [ngStyle]="style.fieldContainerStyle">
            <div class ="checkbox-fields-container display-flex"  *ngFor="let field of properties.inputPropsArray; let i = index;">
                <input type="checkbox" class="form-check-input checkbox" [ngClass]="defaultClasses.fieldClasses" [attr.flexilabel]="flexiLabel" 
                [attr.tabindex]="tabIndex" [attr.placeholder]="placeholder" [disabled]="disabled"
                [attr.id]="id+'_'+i" value={{field.value}}>
                <label class="form-check-label" for="{{id}}'_'{{i}}">
                  {{field.label}}
                </label>
            </div>
        </div>
    </div>
</div>