<div [ngClass]="defaultClasses.fieldMainWrapperClasses"  [ngStyle]="style.fieldMainWrapperStyle">
    <div class="field-tool-wrapper">
        <span *ngIf='showEdit' class=" field-tool-container">
            <ul class=" field-tool">
              <li (click)='openModal()'>
                <i class="material-icons icon-size">settings</i>
              </li>
              <li>
                <i class="material-icons icon-size">open_with</i>
              </li>
              <li (click)="close($event)">
                <i class="material-icons icon-size">clear</i>
              </li>
            </ul>
          </span>
    </div>
  <div [ngClass]="defaultClasses.fieldWrapperClasses">
      <div [ngClass]="defaultClasses.fieldLabelContainerClasses" [ngStyle]="style.fieldLabelContainerStyle">
          <div class="label">
              <label for="{{ id }}" [ngClass]="defaultClasses.labelClasses">{{ label }}</label>
          </div>
          <div [ngClass]="defaultClasses.fieldTooltipWrapperClasses" [ngStyle]="style.fieldTooltipWrapperStyle" *ngIf="tooltip">
              <span [ngClass]="defaultClasses.fieldTooltipContainerClasses">
                  <i class="material-icons " placement="right" [ngbTooltip]="tooltip"> help</i>
              </span>
          </div>
      </div>
      <div [ngClass]="defaultClasses.fieldContainerClasses" [ngStyle]="style.fieldContainerStyle">
          <textarea class="form-control" cols="50" rows="8" [attr.flexilabel]="flexiLabel" [attr.disabled]="disabled" [ngClass]="defaultClasses.fieldClasses" [ngStyle]="style.fieldStyle"
              [attr.tabindex]="tabIndex" [attr.placeholder]="placeholder"
              [attr.id]="id"></textarea>
      </div>
  </div>
  <div [ngClass]="defaultClasses.fieldDescWrapperClasses" [ngStyle]="style.fieldDescWrapperStyle" *ngIf="description">
	<small [ngClass]="defaultClasses.fieldDescContainerClasses" [ngStyle]="defaultClasses.fieldDescContainerStyle">
		{{ description }}
	</small>
</div>
</div>
