<div [ngClass]="defaultClasses.fieldMainWrapperClasses"  [ngStyle]="style.fieldMainWrapperStyle">
        <div class="field-tool-wrapper">
                <span *ngIf='showEdit' class=" field-tool-container">
                    <ul class=" field-tool">
                      <li (click)='openModal()'>
                        <i class="material-icons icon-size">settings</i>
                      </li>
                      <li>
                        <i class="material-icons icon-size">open_with</i>
                      </li>
                      <li (click)="close($event)">
                        <i class="material-icons icon-size">clear</i>
                      </li>
                    </ul>
                  </span>
            </div>
    <div [ngClass]="defaultClasses.fieldWrapperClasses">

        <div [ngClass]="defaultClasses.fieldLabelContainerClasses" [ngStyle]="style.fieldLabelContainerStyle">
            <div class="label">
                <label for="{{ id }}"  [ngClass]="defaultClasses.labelClasses">{{ label }}</label>
            </div>
            <div [ngClass]="defaultClasses.fieldDescWrapperClasses" [ngStyle]="defaultClasses.fieldDescWrapperStyle" *ngIf="description">
                <span [ngClass]="defaultClasses.fieldDescContainerClasses">
                    <i class="material-icons " placement="right" [ngbTooltip]="description"> help</i>
                </span>
            </div>
        </div>
        <div [ngClass]="defaultClasses.fieldContainerClasses" [ngStyle]="style.fieldContainerStyle">
            <div class="input-group-prepend" *ngIf="prefix">
                <span class="input-group-text"> {{ prefix }} </span>
            </div>
            <input type="number" class="form-control" [ngClass]="defaultClasses.fieldClasses"  [ngStyle]="style.fieldStyle"
                [attr.tabindex]="tabIndex" [attr.placeholder]="placeholder" 
                [attr.id]="id" [disabled]="disabled" [attr.flexilabel]="flexiLabel">
            <div class="input-group-append" *ngIf="suffix ">
                <span class="input-group-text"> {{ suffix }} </span>
            </div>
        </div>
    </div>
</div>