


<div class="fieldWrapper container">
    <span *ngIf='showEdit' class="fieldOptions">
        <ul>
          <li (click)='openModal()'><i class="material-icons icon-size">settings</i></li>
          <li><i class="material-icons icon-size">open_with</i></li>
          <li (click)="close($event)"><i class="material-icons icon-size">clear</i></li>
        </ul>
      </span>
    <div class="card">
        <div class="card-header" [class.hidden]="hideLabel">
          {{properties.label}}
        </div>
        <div class="FSTdropZone card-body flex-container" [dragula]='"bag-one"' id={{uniqueKey}}>
          <ng-template #fstContainer></ng-template>
        </div>
      </div>
  
</div>
