<!-- <ng-template #content let-c="close" let-d="dismiss" >  -->
<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="container-fluid">
    <form (ngSubmit)='onSubmit(f.value)' #f='ngForm'>
      <div class="row">
        <div class="col-md-8">

          <ngb-tabset>
            <ngb-tab title='Display'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                      <!-- Label for Flexiele -->
                      <div *ngIf='instance.applicableProperties.flexiLabel'>
                        <label for="flexiLabel" class='requiredClass mt-3'>Flexiele Label</label>
                        <input type="text" class="form-control" id='flexiLabel' placeholder="text" required ngModel name='flexiLabel' [(ngModel)]='componentData.flexiLabel'
                          #flexiLabel='ngModel'>
                        <div class="alert alert-danger" *ngIf='flexiLabel.touched && flexiLabel.invalid'>FlexieleLabel is required.

                        </div>
                      </div>

                      <!-- Label -->
                      <div *ngIf='instance.applicableProperties.label'>
                        <label for="label" class='requiredClass mt-2'>Label</label>
                        <input type="text" class="form-control" id='label' placeholder="text" ngModel required name='label' [(ngModel)]='componentData.label'
                          change-event='replace' #label='ngModel'>

                        <div *ngIf='!componentData.label'>
                          <div class="alert alert-danger" *ngIf='label.touched && label.invalid'>Label is required.</div>
                        </div>
                      </div>

                      <!-- Hide Label CheckBox -->
                      <div *ngIf='instance.applicableProperties.hideLabel'>
                        <div class="form-check mb-2 mt-3">
                          <input class="form-check-input" type="checkbox" value="Y" id="hideLabel" name='hideLabel' #hideLabel='ngModel' [(ngModel)]='componentData.hideLabel'
                            ngModel change-event='replace'>
                          <label class="form-check-label" for="hideLabel">
                            Hide Label
                          </label>
                        </div>
                      </div>

                      <!-- Drop down Menu of Label Position -->
                      <div *ngIf='instance.applicableProperties.labelPosition'>
                        <label for="labelPosition" class='requiredClass'>Label Position</label>
                        <select [(ngModel)]='componentData.labelPosition' ngModel id="labelPosition" class="form-control" name='labelPosition' required
                          ngModel #labelPosition='ngModel' change-event='replace'>
                          <option value='none'>--Select--</option>
                          <option value='top'>Top</option>
                          <option value='bottom'>Bottom</option>
                          <!-- <option value='left-L'>Left(Left Aligned)</option>
                          <option value='left-R'>Left(Right Aligned)</option>
                          <option value='right-R'>Right(Right Aligned)</option>
                          <option value='right-L'>Right(Left Aligned)</option> -->
                          <option value="left">Left</option>
                          <option value="right">Right</option>
                        </select>
                        <div class="alert alert-danger" *ngIf='labelPosition.touched && labelPosition.invalid'>Label Position is required.</div>

                      </div>


                      <!-- input box for Label Width -->

                      <!-- <div *ngIf="componentData.labelPosition=='left-L'
                        ||componentData.labelPosition=='left-R'||
                        componentData.labelPosition=='right-L'||
                        componentData.labelPosition=='right-R'"> -->
                      <div *ngIf='instance.applicableProperties.labelWidth'>
                        <label for="label-width" class='mt-3 requiredClass'>Label Width</label>
                        <input [(ngModel)]='componentData.labelWidth' ngModel type="text" class="form-control" id='label-width' placeholder='Enter Label width e.g. 10px or 10%'
                          name='labelWidth' #labelWidth='ngModel' change-event='replace'>
                        <div class="alert alert-danger" *ngIf='labelWidth.touched && labelWidth.invalid'>FlexieleLabel is required.

                        </div>
                      </div>


                      <!-- input box for Label Margin -->

                      <div *ngIf='instance.applicableProperties.labelMargin'>
                        <label for="label-margin" class='mt-3 requiredClass'>Label Margin</label>
                        <input type="text" class="form-control" id='label-margin' placeholder='Enter Label margin e.g. 10px or 10%' [(ngModel)]='componentData.labelMargin'
                          ngModel name='labelMargin' #labelMargin='ngModel' change-event='replace'>
                        <div class="alert alert-danger" *ngIf='labelMargin.touched && labelMargin.invalid'>Label Margin is required.

                        </div>
                      </div>


                      <!-- input box for width -->
                      <div class='mt-2' *ngIf='instance.applicableProperties.width'>
                        <label for='width'>
                          Width
                        </label>
                        <input id='width' class='form-control' name='width' placeholder='Field Width e.g. 100px or 50%' ngModel [(ngModel)]='componentData.width'
                          placeholder='Width e.g. 300px or 80%' />
                      </div>



                      <!--      Dropdown For button Theme -->
                      <div class='mt-2' *ngIf='instance.applicableProperties.theme'>
                        <label for='theme'>
                          Button Theme
                        </label>
                        <select id='theme' ngModel name='theme' class='form-control' [(ngModel)]='componentData.theme' change-event='replace'>
                          <option value="none">--Select--</option>
                          <option value="default" selected>Default</option>
                          <option value='primary'>Primary</option>
                          <option value="secondary">Secondary</option>
                          <option value="danger">Danger</option>
                          <option value="success">success</option>
                        </select>
                      </div>


                      <!-- Dropdown for button size       -->

                      <div class='mt-2' *ngIf='instance.applicableProperties.size'>
                        <label for='size'>
                          Button Size
                        </label>
                        <select ngModel name="size" id="size" ngModel class='form-control' [(ngModel)]='componentData.size' change-event='replace'>
                          <option value="none">--Select--</option>
                          <option value="large">Large</option>
                          <option value="medium">Medium</option>
                          <option value="small" selected>Small</option>
                        </select>
                      </div>


                      <!-- left Icon text for button -->

                      <div class='mt-2' *ngIf='instance.applicableProperties.btnLeftIcon'>
                        <label for='btnLeftIcon'>
                          Left Icon
                        </label>
                        <input type='text' id="btnLeftIcon" class='form-control' name='btnLeftIcon' placeholder="Material Icon Class e.g. md-icon_content"
                          ngModel [(ngModel)]="componentData.btnLeftIcon" />
                      </div>

                      <!-- left Icon text for button -->

                      <div class='mt-2' *ngIf='instance.applicableProperties.icon'>
                        <label for='icon'>
                          Icon
                        </label>
                        <input type='text' id="icon" class='form-control' name='icon' placeholder="Material Icon Class e.g. md-icon_content"
                          ngModel [(ngModel)]="componentData.icon" />
                      </div>



                      <!--Right Icon  text for button -->
                      <div class='mt-2' *ngIf='instance.applicableProperties.btnRightIcon'>
                        <label for='btnRightIcon'>
                          Button Right Icon
                        </label>
                        <input type='text' class='form-control' id='btnRightIcon' placeholder="Material Icon Class e.g. md-icon_content" name='btnRightIcon'
                          ngModel [(ngModel)]="componentData.btnRightIcon" />
                      </div>

                <!-- input fields for checkboxes  -->
                <div class="mt-2" *ngIf='instance.applicableProperties.multipleInputs'>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Label</th>
                        <th scope="col">Value</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let field of componentData.inputPropsArray; let i = index">
                      <tr>
                        <td>
                          <input ngModel [(ngModel)]="field.label" class="form-control" type="text" placeholder="Add Label" name="field.label{{i}}" />
                        </td>
                        <td>
                          <input ngModel [(ngModel)]="field.value" class="form-control" type="text" placeholder="Add Value" name="field.value{{i}}" />
                        </td>
                        <td>
                          <i class="material-icons" (click)="deleteInput(i)">close</i>
                        </td>
                      </tr>
                    </tbody>    
                  </table> 
                  <button class="btn btn-primary" (click)="addInput($event)">Add Field</button>
                </div>



                      <!-- input field for date time format       -->

                      <div class='mt-2' *ngIf='instance.applicableProperties.dateTimeFormat'>
                        <label for='dateTimeFormat'>
                          Date-Time Format
                        </label>
                        <input type='text' id='dateTimeFormat' ngModel [(ngModel)]="componentData.dateTimeFormat" name='dateTimeFormat' class='form-control'
                          placeholder='DD-Mon-YY HH:MM:SS' />

                      </div>


                      <!-- input box for format       -->

                      <div class='mt-2' *ngIf='instance.applicableProperties.format'>
                        <label for='fordateFormatmat'>
                          Format
                        </label>
                        <input type='text' id='dateFormat' ngModel [(ngModel)]="componentData.dateFormat" name='dateFormat' class='form-control'
                          placeholder='Enter Date Format Default: DD-Mon-YY' />

                      </div>

                      <!-- input for region setting -->
                      <!-- <div class='mt-2'   *ngIf='instance.applicableProperties.regionBias'>
                          <label for='regionBias'>
                               Region Bias
                          </label>
                          <input type='text' id='regionBias' ngModel name='regionBias' class='form-control'
                          placeholder='Enter region bias'/>

                      </div> -->


                     








                      <!-- Input Box for Placeholder -->
                      <div *ngIf='instance.applicableProperties.placeholder'>
                        <label for="placeholder" class='mt-3'>Placeholder</label>
                        <input type="text" class="form-control" id='placeholder' placeholder='placeholder' [(ngModel)]='componentData.placeholder'
                          ngModel name='placeholder' change-event='replace'>
                      </div>



                      <!-- Input box for Description -->
                      <div *ngIf='instance.applicableProperties.description'>
                        <label for="desc" class='mt-3'>Description about field. </label>
                        <input type="text" class="form-control" id='desc' placeholder='description for this field' [(ngModel)]='componentData.description'
                          ngModel name='description' change-event='replace'>
                      </div>



                      <!-- input for text area rows -->

                      <div class='mt-2' *ngIf='instance.applicableProperties.rows'>
                        <label for='rows'>
                          Default Rows
                        </label>
                        <input type='number' class='form-control' ngModel [(ngModel)]="componentData.rows" name='rows' />
                      </div>




                      <!-- Commented because descripition is shown as tooltip. -->
                      <!-- Input Box for ToolTip -->
                      <div *ngIf='instance.applicableProperties.tooltip'>
                        <label for='tooltip' class='mt-3'>Tooltip</label>
                        <input type="text" class="form-control" id='tooltip' [(ngModel)]='componentData.tooltip' ngModel name='tooltip' change-event='replace'>
                      </div>



                      <!-- Text Area for Error Label -->
                      <!-- <div *ngIf='instance.applicableProperties.errorLabel'>
                        <label for="error-label" class='mt-3'>Error Label</label>
                        <textarea class="form-control" rows="3" id="error-label" placeholder='Error Label' [(ngModel)]='componentData.errorLabel'
                          ngModel name='errorLabel'>
                        </textarea>
                      </div> -->



                      <!-- Input box for Input masking -->
                      <div *ngIf='instance.applicableProperties.mask'>
                        <label for='mask' class='mt-3'>Input Mask</label>
                        <input type="text" class="form-control" id='mask' placeholder="['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]" [(ngModel)]='componentData.mask' ngModel name='mask'>
                      </div>


                      <!-- Input box for Prefix -->
                      <div *ngIf='instance.applicableProperties.prefix'>
                        <label for='prefix' class='mt-3'>Prefix</label>
                        <input type="text" class="form-control" id='prefix' placeholder="Example: '$','@'" [(ngModel)]='componentData.prefix' ngModel
                          name='prefix' change-event='replace'>
                      </div>


                      <!-- input box for suffix -->
                      <div *ngIf='instance.applicableProperties.suffix'>
                        <label for='suffix' class='mt-3'>Suffix</label>
                        <input type="text" class="form-control" id='suffix' placeholder="Example: 'Currency'" [(ngModel)]='componentData.suffix' ngModel
                          name='suffix' change-event='replace'>
                      </div>


                      <!-- input box for custom classes -->
                      <div *ngIf='instance.applicableProperties.customCssClass'>
                        <label for='custom' class='mt-3'>Custom CssClass</label>
                        <input type="text" class="form-control" id='custom' placeholder="e.g. 'my-class-field'" [(ngModel)]='componentData.customCssClass'
                          ngModel name='customCss'>
                      </div>



                      <!-- Input box for Tab index  -->
                      <div *ngIf='instance.applicableProperties.tabIndex'>
                        <label for='tab-index' class='mt-3'>Tab Index</label>
                        <input type="text" class="form-control" id='tab-index' placeholder="Default: '0'" [(ngModel)]='componentData.tabIndex' ngModel
                          name='tabIndex'>
                      </div>


                      <!-- check box for enableCk     -->
                      <!-- <div *ngIf='instance.applicableProperties.enableCk'> -->
                       <!--  <div class='for-check mt-3 ml-4'>
                          <input class='form-check-input' type='checkbox' ngModel name='enableCk' id='enableCk' [(ngModel)]="componentData.enableCk"
                            #enableCk='ngModel'>
                          <label for='enableck' class='form-check-label' value='enableCk'>
                            Enable CK Editor
                          </label>
                        </div> -->



                        <!-- text area for cksetting -->

                        <div class='mt-2' *ngIf='instance.applicableProperties.ckSettings'>
                          <div class="json-help-container">
                            <ng-template #enableCkHelp>
                              <div class="json-help-wrapper">
                                <pre class="json-help">
                                        {{ jsonHelp.enableCkHelp | json }}
                                    </pre>
                              </div>
                            </ng-template>
                          </div>
                          <label for='ckSettings'>
                            Ck Settings&nbsp;&nbsp;
                            <span class='help-icon-container'>
                              <a class='card-tooltip mt-2' placement="right" [ngbPopover]="enableCkHelp" popoverTitle="CK Editor Settings JSON Struture">
                                <i style='font-size: 16px;' class="material-icons"> help </i>
                              </a>
                            </span>
                          </label>
                          <!-- <textarea ngModel name="ckSettings" id="ckSetting"  rows="3" class='form-control' ngModel [(ngModel)]="componentData.ckSettings">
                        </textarea> -->
                          <json-editor [(ngModel)]="componentData.ckSettings" id="ckSettings" jsonModal name="ckSettings" [config]="jsonEditorConfig"
                            #ckSetting='ngModel'>
                          </json-editor>
                        </div>
                      <!-- </div> -->




                      <!-- check boxes for clear value when Hidden -->
                      <div class="form-check  mt-3" *ngIf='instance.applicableProperties.clearWhenHidden'>
                        <input class="form-check-input" type="checkbox" value="Y" id="clearWhenHidden" [(ngModel)]='componentData.clearWhenHidden'
                          ngModel name='clearWhenHidden' change-event='replace'>
                        <label class="form-check-label" for="clearWhenHidden">
                          Clear value when Hidden
                        </label>
                      </div>


                      <!-- check box for enable spell check -->

                      <div class="form-check mb-2 mt-3" *ngIf='instance.applicableProperties.enableSpellCheck'>
                        <input class="form-check-input" type="checkbox" value="enableSpellCheck" id="enableSpellCheck" ngModel name='enableSpellCheck'
                          [(ngModel)]="componentData.enableSpellCheck">
                        <label class="form-check-label" for="enableSpellCheck">
                          Enable Spell Check
                        </label>
                      </div>


                      <!-- checkbox for multiple address       -->

                      <div class="form-check mb-2 mt-3" *ngIf='instance.applicableProperties.allowMultipleAddress'>
                        <input class="form-check-input" type="checkbox" value="multipleAddress" id="multipleAddress" ngModel name='multipleAddress'
                          ngModel [(ngModel)]="componentData.allowMultipleAddress">
                        <label class="form-check-label" for="multipleAddress">
                          Allow Multiple Address
                        </label>
                      </div>




                      <!-- Check box for Hidden -->
                      <div class="form-check mb-2 mt-3" *ngIf='instance.applicableProperties.hidden'>
                        <input class="form-check-input" type="checkbox" value="Y" id="hidden" name='hidden' #hidden='ngModel' [(ngModel)]='componentData.hidden'
                          ngModel change-event='replace'>
                        <label class="form-check-label" for="hidden">
                          Hidden
                        </label>
                      </div>



                      <!-- check box for disabled -->
                      <div class="form-check mb-2 mt-3" *ngIf='instance.applicableProperties.disabled'>
                        <input class="form-check-input" type="checkbox" value="disabled" id="disabled" [(ngModel)]='componentData.disabled' ngModel
                          name='disabled' change-event='replace'>
                        <label class="form-check-label" for="disabled">
                          Disabled
                        </label>
                      </div>

                      <!-- check box for ative -->
                      <div class="form-check mb-2 mt-3" *ngIf='instance.applicableProperties.active'>
                        <input class="form-check-input" type="checkbox" value="Y" id="active" [(ngModel)]='componentData.active' ngModel name='active'
                          change-event='replace'>
                        <label class="form-check-label" for="active">
                          Active
                        </label>
                      </div>


                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>


            <!-- ******* -->
            <!-- tab for data property -->
            <!-- ******* -->
            <ngb-tab title='Data'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                      <!-- Dropdown for Default Value -->
                      <div *ngIf='instance.applicableProperties.defaultValueType'>
                        <label for="defaultValueType" class='mt-3'>Default Value Type</label>
                        <select id="defaultValueType" class="form-control" name='defaultValueType' [(ngModel)]='componentData.defaultValueType' ngModel
                          #defaultValueType='ngModel'>
                          <option value="none">--Select--</option>
                          <option value='string'>String</option>
                          <option value='sqlQuery'>Sql Query</option>
                        </select>
                      </div>

                      <!-- Text Area for Default String Value -->
                      <div *ngIf="componentData.type == 'ANC'">
                        <label for="Sql" class='mt-1 requiredClass'>Link</label>
                        <textarea class="form-control" rows="3" id="link-anc" placeholder='String' [(ngModel)]='componentData.defaultValueString'
                          ngModel name='defaultValueStringLink' #defaultValueStringLink='ngModel' required></textarea>

                        <div class="alert alert-danger" *ngIf='defaultValueStringLink.touched && defaultValueStringLink.invalid'>
                          This field is required.
                        </div>
                      </div>


                      <div *ngIf="componentData.defaultValueType=='string'">
                        <label for="Sql" class='mt-1 requiredClass'>String Value</label>
                        <textarea class="form-control" id="link-label" placeholder='String' [(ngModel)]='componentData.defaultValueString'
                          ngModel name='defaultValueString' #defaultValueString='ngModel' required></textarea>

                        <div class="alert alert-danger" *ngIf='defaultValueString.touched && defaultValueString.invalid'>
                          This field is required.
                        </div>
                      </div>


                      <!-- Text Area for defult value Sql Query -->
                      <div *ngIf="componentData.defaultValueType=='sqlQuery'">
                        <label for="Sql" class='mt-1 requiredClass'>Sql Query</label>
                        <textarea class="form-control" rows="3" id="error-label" placeholder='Sql' [(ngModel)]='componentData.defaultValueSqlQuery'
                          ngModel name='defaultValueSqlQuery' #defaultValueSqlQuery='ngModel' required></textarea>

                        <div class="alert alert-danger" *ngIf='defaultValueSqlQuery.touched && defaultValueSqlQuery.invalid'>Sql Query is required.

                        </div>
                      </div>
                      <!--  -->

                      <!-- input fot minimumValue -->
                      <div class='mt-2' *ngIf='instance.applicableProperties.minimumValue'>
                        <label for='minimumValue'>
                          Minimum Value
                        </label>

                        <input type='number' class='form-control' name='minimumValue' id='minimumValue' ngModel [(ngModel)]="componentData.minimumValue">
                      </div>

                      <!-- input fot maximumValue -->
                      <div class='mt-2' *ngIf='instance.applicableProperties.minimumValue'>
                        <label for='maximumValue'>
                          Maximum Value
                        </label>
                        <input type='number' class='form-control' name='maximumValue' id='maximumValue' ngModel [(ngModel)]="componentData.maximumValue">
                      </div>


                      <div class='mt-2' *ngIf="instance.applicableProperties.lovType">
                        <label for='lovType'>
                          List of Value Type
                        </label>
                        <select ngModel name='lovType' id='lovType' class='form-control' [(ngModel)]='componentData.lovType' ngModel #lovType='ngModel'>
                          <option value="none">--Select--</option>
                          <option value="sqlQuery"> SQL Query </option>
                          <option value="json">JSON</option>
                        </select>
                      </div>


                      <!-- Text Area for sql query -->

                      <div *ngIf="componentData.lovType=='sqlQuery'">
                        <label for="lovType" class='mt-3 requiredClass'>SQL Query</label>
                        <textarea class="form-control" rows="3" id="lovType" placeholder='Enter SQL Query' [(ngModel)]='componentData.lovSqlQuery'
                          ngModel name='lovSqlQuery' #lovSqlQuery='ngModel' required></textarea>

                        <div class="alert alert-danger" *ngIf='lovSqlQuery.touched && lovSqlQuery.invalid'>SQL Query is required.</div>
                      </div>


                      <!-- text area for json Logic -->
                      <div *ngIf="componentData.lovType=='json'">

                        <div class="json-help-container">
                          <ng-template #lovJsonHelp>
                            <div class="json-help-wrapper">
                              <pre class="json-help">
                                    {{ jsonHelp.lovHelp | json }}
                                </pre>
                            </div>
                          </ng-template>
                        </div>

                        <!-- Text Area for JSON Logic -->
                        <label for="JSON" class='mt-3 requiredClass'>JSON &nbsp;
                          <span class='help-icon-container'>
                            <a class='card-tooltip mt-2' placement="right" [ngbPopover]="lovJsonHelp" popoverTitle="LOV JSON Structure">
                              <i style='font-size: 16px;' class="material-icons"> help </i>
                            </a>
                          </span>
                        </label>

                        <!-- <textarea class="form-control" rows="3" id="lovJson" placeholder='Enter JSON (Not JSON Logic)' [(ngModel)]='componentData.lovJson' ngModel
                          name='lovJson' #lovJson='ngModel' required>
                        </textarea> -->

                        <json-editor [(ngModel)]="componentData.lovJson" jsonModal name="lovJson" [config]="jsonEditorConfig" #lovJson='ngModel'
                          required>
                        </json-editor>

                        <div class="alert alert-danger" *ngIf='lovJson.touched && lovJson.invalid'>JSON is required.</div>
                      </div>





                      <!-- Check box for non-persistence of data     -->

                      <div *ngIf='instance.applicableProperties.nonPersistent'>
                        <div class="form-check  mt-3">
                          <input class="form-check-input" type="checkbox" value="nonPersistent" id="non-persistent" [(ngModel)]='componentData.nonPersistent'
                            ngModel name='nonPersistent'>
                          <label class="form-check-label" for="non-persistent">
                            Non-Persistent
                          </label>
                          <br>
                        </div>
                      </div>

                      <!-- Check box for non-persistence of data     -->

                      <div *ngIf='instance.applicableProperties.hasParent'>
                        <div class="form-check  mt-3">
                          <input class="form-check-input" type="checkbox"  id="hasParent" [(ngModel)]='componentData.hasParent'
                            ngModel name='hasParent'>
                          <label class="form-check-label" for="non-persistent">
                            Has Parent
                          </label>
                          <br>
                        </div>
                      </div>

                       <!-- input for maximum date -->
                       <div class='mt-2' *ngIf='componentData.hasParent==true'>
                        <label for='parentName'>
                          Parent Flexilabel
                        </label>
                        <input id='parentName' class='form-control' ngModel
                          [(ngModel)]="componentData.parentName" name='parentName' ngModel >
                      </div>

                     

                      <!-- Text Area for sql query -->

                      <div *ngIf="componentData.hasParent==true">
                        <label for="filterSqlQuery" class='mt-3 requiredClass'>Fileter Query ( Consider parent value 'XXVALXX'in the query. )</label>
                        <textarea class="form-control" rows="3" id="filterSqlQuery" placeholder='Enter SQL Query' [(ngModel)]='componentData.filterSqlQuery'
                          ngModel name='filterSqlQuery' #filterSqlQuery='ngModel' required></textarea>

                        <div class="alert alert-danger" *ngIf='filterSqlQuery.touched && filterSqlQuery.invalid'>SQL Query is required.</div>
                      </div>


                      <!-- input for minimum date -->
                      <div class='mt-2' *ngIf='instance.applicableProperties.minimumDate'>
                        <label for='minimumDate'>
                          Minimum date
                        </label>
                        <input id='minimumDate' class='form-control' placeholder='"{\"year\":\"1970\",\"month\":\"01\",\"date\":\"01\"}"' ngModel
                          [(ngModel)]="componentData.minimumDate" name='minimumDate' ngModel [(ngModel)]="componentData.minimumDate">
                      </div>

                      <!-- input for maximum date -->
                      <div class='mt-2' *ngIf='instance.applicableProperties.maximumDate'>
                        <label for='maximumDate'>
                          Maximum date
                        </label>
                        <input id='maximumDate' class='form-control' laceholder='"{\"year\":\"2019\",\"month\":\"01\",\"date\":\"01\"}"' ngModel
                          [(ngModel)]="componentData.maximumDate" name='maximumDate' ngModel [(ngModel)]="componentData.maximumDate">
                      </div>

                      <!-- input for calculated Value -->
                      <div class='mt-2' *ngIf='instance.applicableProperties.calculatedValue'>
                        <label for='calculatedValue'>
                          Calculated value
                        </label>
                        <input id='calculatedValue' class='form-control' ngModel name='calculatedValue'>
                      </div>

                      <!-- input for autocomplete -->
                      <div *ngIf="componentData.nonPersistent" class='mt-2'>
                        <input name='auto' type='text' id="auto-complete" autocomplete='on' [(ngModel)]='componentData.dbColumn' ngModel name='dbColumn'
                          #dbColumn='ngModel' ngMoldel name='dbColumn' />
                      </div>

                      <!-- checkbox for use delimeter -->
                      <div class='form-check mt-3' *ngIf='instance.applicableProperties.useDelimeter'>
                        <input class='form-check-input' ngModel name='useDelimeter' type='checkbox' />
                        <label class='form-check-label'>
                          Use Delimeter
                        </label>
                      </div>

                      <!-- check box for required decimal -->
                      <div class='form-check mt-3' *ngIf='instance.applicableProperties.requiredDecimal'>
                        <input class='form-check-input' ngModel name='requiredDecimal' type='checkbox' />
                        <label class='form-check-label'>
                          Required decimal
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <!-- ********************** -->
            <!-- tabs for validation -->
            <ngb-tab title='Validation'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <div *ngIf='instance.applicableProperties.appliedValidations'>
                        <label for="appliedValidations" class="mt-3">Applied Validation</label>
                        
                       
                        <ngx-select [multiple]="true" name='appliedValidations' [(ngModel)]="componentData.appliedValidations" [items]="instance.systemValidations" id="appliedValidations" placeholder="Select Validations">
                          </ngx-select>
                      </div>

                      <div class='form-check mt-3' *ngIf='instance.applicableProperties.required'>
                        <input class='form-check-input' ngModel name='required' id="required" type='checkbox' [(ngModel)]="componentData.required">
                        <label class='form-check-label' for="required">
                          Required
                        </label>
                      </div>

                      <div class='form-check mt-3' *ngIf='instance.applicableProperties.unique'>
                        <input class='form-check-input' ngModel name='unique' id="unique" type='checkbox' [(ngModel)]="componentData.unique">
                        <label class='form-check-label' for="unique">
                          Unique
                        </label>
                      </div>

                       <!-- input for fileMinimum size -->
                       <div class='mt-2' *ngIf='instance.applicableProperties.fileMinimumSize'>
                        <label for='fileMinimumSize'>
                          File Minimum size
                        </label>
                        <input type='text' id='format' ngModel name='fileMinimumSize' class='form-control' placeholder='Enter minimum file size'
                        />

                      </div>



                      <!-- input for fileMaximum Size -->

                      <div class='mt-2' *ngIf='instance.applicableProperties.fileMaximumSize'>
                        <label for='fileMaximumSize'>
                          File Maximum size
                        </label>
                        <input type='text' id='fileMaximumSize' ngModel name='fileMaximumSize' class='form-control' placeholder='Enter maximum file size'
                        />

                      </div>

                      <!-- input text for minimum length -->
                      <div *ngIf='instance.applicableProperties.minimumLength'>
                        <label for='min-length' class='mt-3'>Minimum Length</label>
                        <input type="number" class="form-control" id='min-lenght' placeholder='e.g. 100' [(ngModel)]='componentData.minimumLength'
                          ngModel name='minimumLenght'>
                      </div>

                      <!-- input text for maximum length -->
                      <div *ngIf='instance.applicableProperties.maximumLength'>
                        <label for='max-length' class='mt-3'>Maximum Length</label>
                        <input type="number" class="form-control" id='max-lenght' placeholder='e.g. 1000' ngModel [(ngModel)]='componentData.maximumLength'
                          name='maximumLength'>
                      </div>

                      <!-- input text for Regular Expression -->
                      <div *ngIf='instance.applicableProperties.regularExpression'>
                        <label for='regular' class='mt-3'>Regular Expression</label>
                        <input type="number" class="form-control" id='regular' placeholder='Regular Expression Pattern' [(ngModel)]='componentData.regularExpression'
                          ngModel name='regularExpression'>
                      </div>

                      <!-- input text for custom error message -->
                      <div *ngIf='instance.applicableProperties.regularExpression'>
                        <label for='custom' class='mt-3'>Custom Error Message</label>
                        <input type="number" class="form-control" id='custom' placeholder='custom error message' name='customErrorMessage' ngModel
                          [(ngModel)]='componentData.customErrorFunction'>
                      </div>

                      <!-- <div class='mt-2'>
                        <label for='customValidation'>
                             Custom Validation
                        </label>
                         <select name="customValidation" class='form-control'
                         ngModel #customValidation='ngModel' id='customValidation'>
                           <option value="customFuncValidation">Custom validation Function</option>
                           <option value="jsonLogic">Json Logic</option>
                           <option value="formClassValidation">Form Level validation</option>
                         </select>

                      </div> -->

                      <!-- text area for custom Validation Function -->
                      <!-- <div class="form-check mb-2 mt-3">
                          <input  class="form-check-input" type="checkbox" value="Y" id="customValFuncFlag" name='customValFuncFlag' #customValFuncFlag = 'ngModel' [(ngModel)]='componentData.customValFuncFlag'
                            ngModel change-event='replace'>
                          <label class="form-check-label" for="customValFuncFlag">
                            Custom Function Validation
                          </label>
                        </div> -->
                      <!-- {
                        agelimit: {
                            validatorFn: " if (control.value !== undefined && (isNaN(control.value) || control.value < 50)) { return { 'agelimit': true }; } return null;",
                            message: 'Age should be greater than 50'
                          },
                        yearlimit: {
                            validatorFn: " if (control.value !== undefined && (isNaN(control.value.year) || control.value.year < 2010)) { return { 'yearlimit': true }; } return null; ",
                            'message': 'Year should be greater than 2010'
                          }
                        } -->

                      <div class="validation-container" *ngIf="instance.applicableProperties.customFuncValidation">
                        <div class="json-help-container">
                          <ng-template #customValidationHelp>
                            <div class="json-help-wrapper">
                              <pre class="json-help">
                                        {{ jsonHelp.customFuncValidationHelp | json }}
                                    </pre>
                            </div>
                          </ng-template>
                        </div>


                        <label for="valid" class='mt-3'>Custom Validation Function&nbsp;&nbsp;
                          <span class='help-icon-container'>
                            <a class='card-tooltip mt-2' placement="right" [ngbPopover]="customValidationHelp" popoverTitle="Custom Validations JSON Structure ('control' will be passed to function.)">
                              <i style='font-size: 16px;' class="material-icons"> help </i>
                            </a>
                          </span>

                        </label>

                        <!-- <textarea class="form-control" rows="3" id="valid" placeholder="Provide a json string." #customFuncValidation="ngModel" name='customFuncValidation'
                        ngModel [(ngModel)]='componentData.customFuncValidation'>
                      </textarea> -->
                        <json-editor id="validationEditor" [(ngModel)]="componentData.customFuncValidation" jsonModal name="customFuncValidation"
                          [config]="jsonEditorConfig" #customFuncValidation='ngModel'>
                        </json-editor>
                        <div class="alert alert-danger" *ngIf='customFuncValidation.touched && customFuncValidation.invalid'>Please provide json value.</div>
                      </div>

                      <!-- text area for custom JSON logic      -->
                      <!-- <div class="form-check mb-2 mt-3">
                        <input  class="form-check-input" type="checkbox" value="Y" id="jsonLogicValFlag" name='jsonLogicValFlag' #jsonLogicValFlag = 'ngModel' [(ngModel)]='componentData.jsonLogicValFlag'
                          ngModel change-event='replace'>
                        <label class="form-check-label" for="jsonLogicValFlag">
                          JSON Logic Custom Validation
                        </label>
                      </div> -->

                      <div class="validation-container" *ngIf="instance.applicableProperties.jsonLogicVal">

                        <div class="json-help-container">
                          <ng-template #jsonLogicValHelp>
                            <div class="json-help-wrapper">
                              <pre class="json-help">
                                        {{ jsonHelp.jsonLogicValHelp | json }}
                                    </pre>
                            </div>
                          </ng-template>
                        </div>


                        <label for="custom-JSON" class='mt-3'>JSON Logic&nbsp;
                          <span class='help-icon-container'>
                            <a class='card-tooltip mt-2' placement="right" [ngbPopover]="jsonLogicValHelp" popoverTitle="JSON Logic JSON Structure.(Please refer JsonLogic first.)">
                              <i style='font-size: 16px;' class="material-icons"> help </i>
                            </a>
                          </span>

                        </label>
                        <!-- <textarea class="form-control" rows="3" id="jsonLogicVal" placeholder='Provide JSON for JSON Logic. ' [(ngModel)]='componentData.jsonLogicVal' #jsonLogicVal="ngModel"
                          ngModel name='jsonLogicVal'>
                        </textarea> -->
                        <json-editor id="jsonLogicVal" [(ngModel)]="componentData.jsonLogicVal" jsonModal name="jsonLogicVal" [config]="jsonEditorConfig"
                          #jsonLogicVal='ngModel'>
                        </json-editor>
                        <div class="alert alert-danger" *ngIf='jsonLogicVal.touched && jsonLogicVal.invalid'>Please provide json string value.</div>
                      </div>

                      <!-- text area for form validation -->
                      <!-- <div class="form-check mb-2 mt-3">
                        <input  class="form-check-input" type="checkbox" value="Y" id="formClassValFlag" name='formClassValFlag' #formClassValFlag = 'ngModel' [(ngModel)]='componentData.formClassValFlag'
                          ngModel change-event='replace'>
                        <label class="form-check-label" for="formClassValFlag">
                          Form Class Validation
                        </label>
                      </div> -->

                      <div class="validation-container" *ngIf="instance.applicableProperties.formClassValidation">
                        <div class="json-help-container">
                          <ng-template #formClassValidationValHelp>
                            <div class="json-help-wrapper">
                              <pre class="json-help">
                                        {{ jsonHelp.formClassValidationValHelp | json }}
                                    </pre>
                            </div>
                          </ng-template>
                        </div>

                        <label for="formClassValidation" class='mt-3'>Form Class Custom Validation&nbsp;&nbsp;
                          <span class='help-icon-container'>
                            <a class='card-tooltip mt-2' placement="right" [ngbPopover]="formClassValidationValHelp" popoverTitle="Form Class Validation JSON Structure.">
                              <i style='font-size: 16px;' class="material-icons"> help </i>
                            </a>
                          </span>
                        </label>
                        <!-- <textarea class="form-control" rows="3" id="formClassValidation" placeholder='JSON for form class validation' [(ngModel)]="componentData.formClassValidation"
                            ngModel name='formClassValidation' #formClassValidation="ngModel" class='form-control'>
                          </textarea> -->
                        <json-editor id="formClassValidation" [(ngModel)]="componentData.formClassValidation" jsonModal name="formClassValidation"
                          [config]="jsonEditorConfig" #formClassValidation='ngModel'>
                        </json-editor>
                        <div class="alert alert-danger" *ngIf='formClassValidation.touched && formClassValidation.invalid'>Please provide json string value.</div>
                      </div>

                      
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-tab>

            <!-- ****************************************** -->
            <!-- tab for Layout -->
            <!-- ********************************************** -->

            <ngb-tab title='Layout'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                      <div *ngIf='instance.applicableProperties.marginTop'>
                        <label for='margin-top' class='mt-3'>Margin Top</label>
                        <input type="text" class="form-control" id='margin-top' placeholder='Margin e.g. 10% or 10px' name='marginTop' [(ngModel)]='componentData.marginTop'
                          ngModel>
                      </div>

                      <!-- input for margin right -->
                      <div *ngIf='instance.applicableProperties.marginRight'>
                        <label for='margin-right' class='mt-3'>Margin Right</label>
                        <input type="text" class="form-control" id='margin-right' placeholder='Margin e.g. 10% or 10px' name='marginRight' ngModel
                          [(ngModel)]='componentData.marginRight'>
                      </div>


                      <!-- input for margin bottom -->
                      <div *ngIf='instance.applicableProperties.marginBottom'>
                        <label for='margin-bottom' class='mt-3'>Margin Bottom</label>
                        <input type="text" class="form-control" id='margin-bottom' placeholder='Margin e.g. 10% or 10px' name='marginBottom' ngModel
                          [(ngModel)]='componentData.marginBottom'>
                      </div>


                      <div *ngIf='instance.applicableProperties.marginLeft'>
                        <label for='margin-left' class='mt-3'>Margin Left</label>
                        <input type="text" class="form-control" id='margin-left' placeholder='Margin e.g. 10% or 10px' name='marginLeft' [(ngModel)]='componentData.marginLeft'
                          ngModel>
                      </div>

                    </div>
                  </div>
                </div>
              </ng-template>

            </ngb-tab>
            <!--
            <!-- **************************
            <!-- tabs for conditional 
            **************************** -->

            <ngb-tab title='Conditional'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                      <!-- <div>
                          <label for='conditionType'>Condition Type</label>
                          <select name="conditionType" class='form-control' ngModel #conditionType='ngModel'>
                            <option value="customFunction">custom Function</option>
                            <option value="customJsonLogic"> custom Json Logic</option>
                            <option value="simple">simple</option>
                          </select>

                       </div> -->


                      <!-- text area for custom Function -->

                      <div class="txa-container" *ngIf="instance.applicableProperties.showCondition">
                        <div class="json-help-container">
                          <ng-template #conditionHelp>
                            <div class="json-help-wrapper">
                              <pre class="json-help">
                                        {{ jsonHelp.conditionHelp | json }}
                                    </pre>
                            </div>
                          </ng-template>
                        </div>
                        <label for="custom-func" class='mt-3'>Field Conditional Show/Hide JSON&nbsp;&nbsp;
                          <span class='help-icon-container'>
                            <a class='card-tooltip mt-2' placement="right" [ngbPopover]="conditionHelp" popoverTitle="Custom Validations JSON Structure ('control' will be passed to function.)">
                              <i style='font-size: 16px;' class="material-icons"> help </i>
                            </a>
                          </span>
                        </label>
                        <!-- <textarea class="form-control" rows="3" id="condition" placeholder='JSON' [(ngModel)]='componentData.condition'
                          ngModel name='condition'>
                        </textarea> -->
                        <json-editor id="showCondition" [(ngModel)]="componentData.showCondition" jsonModal name="showCondition" [config]="jsonEditorConfig"
                          #showCondition='ngModel'>
                        </json-editor>
                      </div>

                      <!-- text area for custom Function -->

                      <div class="txa-container" *ngIf="instance.applicableProperties.disableCondition">
                        <div class="json-help-container">
                          <ng-template #fldDisabledConditionHelp>
                            <div class="json-help-wrapper">
                              <pre class="json-help">
                                          {{ jsonHelp.fldDisabledConditionHelp | json }}
                                      </pre>
                            </div>
                          </ng-template>
                        </div>
                        <label for="custom-func" class='mt-3'>Field Conditional Disabled JSON&nbsp;&nbsp;
                          <span class='help-icon-container'>
                            <a class='card-tooltip mt-2' placement="right" [ngbPopover]="fldDisabledConditionHelp" popoverTitle="Field Disabled Condition.">
                              <i style='font-size: 16px;' class="material-icons"> help </i>
                            </a>
                          </span>
                        </label>
                        <!-- <textarea class="form-control" rows="3" id="disableCondition" placeholder='JSON' [(ngModel)]='componentData.condifldDisabledConditiontion'
                            ngModel name='disableCondition'>
                          </textarea> -->
                        <json-editor id="disableCondition" [(ngModel)]="componentData.disableCondition" jsonModal name="disableCondition"
                          [config]="jsonEditorConfig" #disableCondition='ngModel'>
                        </json-editor>
                      </div>




                      <!-- 
                      <!-- text area for json logic  -/->
                      <div *ngIf="conditionType.value=='customJsonLogic'">
                      <label for="json-logic" class='mt-3'> custom JSON Logic</label>
                      <textarea class="form-control" rows="3" id="json logic" placeholder='Enter JSON Logic' name='customJsonLogic' [(ngModel)]='componentData.conditionalJsonLogic'
                        ngModel></textarea>
                      </div>

                    <!-- text area for simple -/->

                      <div *ngIf="conditionType.value=='simple'">
                          <label for="simple" class='mt-3'>Simple</label>
                          <textarea class="form-control" rows="3" id="simple" placeholder='Enter simple condition' name='simple'
                            ngModel>
                          </textarea>
                      </div> -->
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title='Events'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <div class='mt-2' *ngIf='instance.applicableProperties.events'>
                        <div class="json-help-container">
                          <ng-template #eventsHelp>
                            <div class="json-help-wrapper">
                              <pre class="json-help">
                                        {{ jsonHelp.eventsHelp | json }}
                                    </pre>
                            </div>
                          </ng-template>
                        </div>
                        <label for='events'>
                          Events &nbsp;&nbsp;
                          <span class='help-icon-container'>
                            <a class='card-tooltip mt-2' placement="right" [ngbPopover]="eventsHelp" popoverTitle="Events JSON Structure.">
                              <i style='font-size: 16px;' class="material-icons"> help </i>
                            </a>
                          </span>
                        </label>
                        <!-- <textarea ngModel name="events" id="events"  rows="3" class='form-control' ngModel [(ngModel)]="componentData.events" placeholder="JSON.">
                          </textarea> -->
                        <json-editor id="events" [(ngModel)]="componentData.events" jsonModal name="events" [config]="jsonEditorConfig" #events='ngModel'>
                        </json-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>

        <div class="col-md-4 masterCard">
          <div class="card preview-card">
            <h4 class="card-header">
              Preview
            </h4>
            <div class="card-body">
              <ng-template #preview></ng-template>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button class='btn btn-primary mt-2' type='submit' [disabled]='!f.valid'>Save</button>
            </div>
            <div class="col-md-8">
              <button type="button" class="btn btn-danger mt-2 " (click)="onReset()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

