.masterCard{
    width:300px!important;
    height:80%!important;
}

.preview-card{
  margin-top: 50%!important;

}

.requiredClass:after {
  content:"*";color:red;
}
.card-tooltip{
  cursor: pointer;
}

